# IDE configurations
/.vscode
/nbproject

# Compiled files
/build
/Makefile
/lib

# Node packages
**/node_modules

# Documentation
_book
/docs/generated

# Test
/test/bufon.jpg

# Temporal files
*.tmp
*.pyc
npm-debug.log
