# IDE configurations
/.vscode
/nbproject

# Compiled files
/build
/Makefile
/lib/libtsk.a

# Node packages
**/node_modules
**/package-lock.json

# Documentation
_book
/docs/generated

# Test
/test/bufon.jpg

# Temporal files
*.tmp
*.pyc
npm-debug.log
